body {
  font-size: 14px;
  font-family: sans-serif;
  background: whitesmoke;
}

h2, p {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

ul li {
  list-style: none;
}

.page {
  width: 1024px;
  max-width: 90vw;
  margin: auto;
}

.row-blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scene-container {
  height: 80vh;
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"] {
  text-align: right;
  max-width: 10ex;
  margin-left: 1ex;
  height: 16px;
  line-height: 16px;
}

.hidden {
  display: none;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  width: 3em;
  height: 1.8em;
  padding: 0;
  margin: 0 0.1em;
}

.button-control {
  border: 0;
  border-radius: 3px;
  background-color: #bbbbbb;
  min-width: 3ex;
  padding: 0.1em 0.3em 0.3em 0.3em;
  cursor: pointer;
  margin: 0.2em 1ex 0.2em 0;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

a.button-control {
  text-decoration: none;
  margin-left: 1ex;
}

.button-control:hover {
  background-color: #333333;
}
